.filtros {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.filtros input, .filtros select {
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid #2a75bb;
  background-color: white;
  color: #2a75bb;
  transition: all 0.3s ease;
}

.filtros input:focus, .filtros select:focus {
  border-color: #ffcb05;
  outline: none;
  box-shadow: 0px 0px 8px rgba(255, 203, 5, 0.5);
}